server {
  listen $PORT default_server;
  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
  }
}

server {
  listen 80;
  server_name _;
  return 301 https://$host$request_uri;
}